@import '../../scss/mixins.scss';

.navbar {
  background-color: var(--color-blue-grey-900);

  &>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing-1);
    height: 50px;
    color: var(--color-white);

    & .logo {
      display: flex;
      font-size: 30px;

      &:before {
        content: '';
        background-image: url('../../..//assets/logo.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        width: 20px;
        margin-right: var(--spacing-1);
      }
    }

    .search {
      background-color: rgba(#fff, 0.6);
      height: 30px;
      padding: var(--spacing-1) var(--spacing-2);
      border: none;
      border-radius: var(--spacing-1);
      width: 200px;
      transition: width .2s ease-in-out, background-color .2s ease-in-out;

      &:focus {
        width: 300px;
        background-color: rgba(#fff, 1);
      }
    }
  }
}
.view-home {
  flex: 1;

  h1 {
    font-weight: 400;
    color: var(--color-grey-800)
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    padding-top: var(--spacing-14);
  }

  .images {
    display: flex;
    flex-flow: row wrap;

    .image {
      position: relative;
      width: 100%;
      padding: var(--spacing-1);
      height: 350px;
      cursor: pointer;

      @include desktop {
        width: calc(100% / 3);
      }

      .inner {
        border-radius: 2px;
        position: absolute;
        inset: var(--spacing-1);
        
        @include desktop {
          transition: 0.25s background-color ease-in-out;

          &:hover {
            background-color: rgba(0,0,0,0.1);

            .banner {
              opacity: 1;

              .title, time, .tags {
                transform: translate(0px, 0px);
              }

            }
          }
        }

        .banner {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 90%);
          padding: var(--spacing-5) var(--spacing-4);
          color: white;
          
          @include desktop {
            transition: 0.25s opacity ease-in-out;
            opacity: 0;
          }

          .title, time, .tags {
            transform: translate(0, 5px);
            transition: 0.25s transform ease-in-out;
          }

          .title {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.4px;
            
          }

          time {
            font-size: 13px;
            display: block;
            opacity: 0.8;
          }

          .tags {
            &>div {
              display: inline-flex;
              margin-right: var(--spacing-2);
              align-items: center;
              font-size: 12px;
              opacity: 0.8;

              &:before{
                display: inline-block;
                content: '#';
              }
            }
          }
        }
      }

      img {
        border-radius: 2px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.load-more {
  display: flex;
  justify-content: center;
  background-color: var(--color-blue-grey-900);
  padding: var(--spacing-4) 0;
  margin-top: var(--spacing-4);

  button {
    height: 40px;
    color: var(--color-white);
    border: none;
    border-radius: var(--spacing-1);
    background-color: rgba(#fff, 0.6);
    color: black;
    cursor: pointer;
    padding: var(--spacing-2) var(--spacing-8);
    font-weight: 600;

    &:hover {
      background-color: rgba(#fff, 0.8);
    }

    &:active {
      background-color: rgba(#fff, 1);
    }

    &.loading {
      background-color: var(--color-light-green-500);
      animation: blinking 1s linear infinite;
    }
  }
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
} 